@model UpdateStaffViewModel

@{
    ViewData["Title"] = "UpdateStaff";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<form method="post">
    <input type="hidden" asp-for="StaffID" />
    <label>Personel Adı</label>
    <input type="text" asp-for="Name" class="form-control" />
    <br />
    <label>Personel Ünvanı</label>
    <input type="text" asp-for="Title" class="form-control" />
    <br />
    <label>Facebook Hesabı</label>
    <input type="text" asp-for="FacebookAccount" class="form-control" />
    <br />
    <label>Twitter Hesabı</label>
    <input type="text" asp-for="TwitterAccount" class="form-control" />
    <br />
    <label>Instagram Hesabı</label>
    <input type="text" asp-for="InstagramAccount" class="form-control" />
    <br />
    <button class="btn btn-primary">Personeli Güncelle</button>
</form>