@model WebUI.Dtos.WorkLocation.UpdateWorkLocationDto

@{
    ViewData["Title"] = "UpdateWorkLocation";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<form method="post">
    <label>Id</label>
    <input type="text" asp-for="WorkLocationID" readonly="readonly" class="form-control" />
    <label>Otel İsmi</label>
    <input type="text" asp-for="WorkLocationName" class="form-control" />
    <br />
    <label>Şehir Adı</label>
    <input type="text" asp-for="WorkLocationCity" class="form-control" />
    <br />
    <button class="btn btn-outline-success">Ekle</button>
</form>