@model List<ImdbApiViewModel>
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<div class="container">
    <br /><br />
    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Film Adı</th>
            <th>Açıklama</th>
            <th>Fotoğraf</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.rank</td>
                <td>@item.title</td>
                <td>@item.description</td>
                <td><img style="height:150px;width:80px;" src="@item.big_image" /></td>
            </tr>
        }
    </table>
</div>